.sub-div{
  text-align: center;
}
h1{
  text-align: center;
}
body{
  background-color: aqua;
}
input{
  height: 50px;
  width: 70%;
  font-size: 100%;
  border-radius: 25px;
  
}
.main-div{
  height: 50px;
  border: 1px solid black;
}
.emoji{
  font-size: 30px;
  text-align: start;
}
.int{
  margin-left: 15%;
}